<head>
	<title>app</title>
	<script src="/resources/common.js" type="module"></script>
	<link rel="stylesheet" href="/resources/common.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">
</head>

<template name="item">
	<li>
		<a href="/view/{{ id }}">{{ title }}</a>
	</li>
</template>

<template name="top">
	<div id="container">
		<h1>List</h1>
		<ul>
			{{#each list}} {{> item}} {{/each}}
		</ul>
	</div>
</template>

<template name="search">
	<div id="container">
		<h1>Search result of "{{ query }}"</h1>
		<div>
			<form>
				<input id="search" name="q" value="{{ query }}" />
				<button type="submit">Search</button>
			</form>
		</div>
		<hr>
		<ul>
			{{#each list}} {{> item}} {{/each}}
		</ul>
	</div>
</template>

<template name="view">
	<style>
		#title {
			margin: 5px 0;
			width: 100%;
		}

		h1 span {
			font-size: 12px;
			color: silver;
		}

		.btns {
			text-align: right;
		}
	</style>
	<div id="container">
		<h1>{{ item.title }}
			<span>{{ item.jdate }}</span>
		</h1>
		<div class="btns">
			<button id="edit">Edit</button>
		</div>
		<div id="body" class="markdown-body">{{{ item.html }}}</div>
	</div>
</template>

<template name="edit">
	<style>
		#title {
			margin: 5px 0;
			width: 100%;
		}

		#body {
			margin: 5px 0;
			width: 100%;
			height: 100px;
			resize: vertical;
		}

		.btns {
			text-align: right;
		}

		#preview {
			margin-top: 10px;
		}
	</style>
	<div id="container">
		<div>
			<input id="title" value="{{ item.title }}">
		</div>
		<textarea id="body">{{ item.body }}</textarea>
		<div class="btns">
			<button id="save">Save</button>
			{{#unless item.no_data}}
				<button id="delete">Delete</button>
			{{/unless}}
		</div>
		<hr/>
		<div id="preview" class="markdown-body"></div>
	</div>
</template>

<template name="error">
	<div id="container">
		<h1>404 PageNotFound</h1>
		<p>{{ message }}</p>
	</div>
</template>