<!doctype html>
<title>error</title>
<script src="/resources/common.js" type="module"></script>
<link rel="stylesheet" href="/resources/common.css" />
<div id="container">
	<h1>404 PageNotFound</h1>
	<p><%= message %></p>
</div>