<!doctype html>
<title>Top</title>
<script src="/resources/common.js" type="module"></script>
<link rel="stylesheet" href="/resources/common.css" />
<div id="container">
	<h1>List</h1>
	<ul>
		<% for (const item of list) { %>
			<li><a href="/view/<%= item.id %>"><%= item.title %></a></li>
		<% } %>
	</ul>
</div>