<!doctype html>
<title>{% block title %}{% endblock %}</title>
<script src="/resources/common.js" type="module"></script>
<link rel="stylesheet" href="/resources/common.css" />
{% block head %}{% endblock %}
<div id="container">
	{% block body %}{% endblock %}
</div>
