*{
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #eee;
}

#container {
	width: 1000px;
	background: white;
	box-shadow: 0 0 3px 0 white;
	min-height: 100vh;
	margin: auto;
	padding: 10px;
}
